* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}




/* floating hearts */
.heart{
  position:absolute;
  bottom:-20px;
  font-size:20px;
  animation: float 6s linear infinite;
  opacity:0.7;
}
@keyframes float{
  0%{transform:translateY(0);opacity:1;}
  100%{transform:translateY(-110vh);opacity:0;}
}


.page{display:none;}
.page.active{display:block;}

/* ----------------------------------- */
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg,#ff4d6d,#ff8fab);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
}

.card {
  background: #fff;
  width: 360px;
  padding: 26px;
  border-radius: 24px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
  overflow: hidden;
}

.page { display: none; }
.page.active { display: block; }

h1 {
  color: #ff2d55;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
}



.soft {
  color: #666;
  font-size: 15px;
}

.letter {
  text-align: left;
  font-size: 15px;
}

.gif {
  width: 210px;
  border-radius: 18px;
  margin: 12px 0;
}

button {
  margin-top: 18px;
  padding: 12px 26px;
  border: none;
  border-radius: 30px;
  background: #ff2d55;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.08);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.no {
  background: #999;
  position: relative;
}
